html,body {
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.asa-container{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #6911D5;
  border-radius: 50px;
  padding: 0 !important;
  margin: 0 !important; 
}

.asa-navbar{
  background:transparent;

}
.asa-grey{
  color: rgba(185, 186, 190, 1) !important;
}

.asa-container-main{
  width: 100%;
  height: 95%;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important; 
}

.asa-nav-tab,.asa-nav-tab > li {
  background: #6911D5;
  color: rgba(185, 186, 190, 1) !important;
}

.asa-tab-data{
  position: relative;

  width: 100%;
  height: 90%;
  max-width: 100% !important;
  background: rgba(185, 186, 190, 1) ;
  border-radius: 50px;
  padding: 0 !important;
  margin: 0 !important; 
}
.asa-nav-tab >  li.react-tabs__tab--selected {
  color: #6911D5 !important;
  background:rgba(185, 186, 190, 1) !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;

}
.asa-container-data{
  position: relative;

  width: 100%;
  height: 90%;
  max-width: 100% !important;
  background: rgba(185, 186, 190, 1) ;
  border-radius: 50px;
  padding: 0 !important;
  margin: 0 !important; 

}
.react-tabs{
  position: relative;

  width: 100%;
  height: 90%;
}
.react-tabs__tab-panel--selected{
 
  position: relative;

  width: 100%;
  height: 100%;
 
}
.asa-tab-data-in{
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: unset !important;
}